doctype html
html(lang='fr')
    block vars
        - var pageTitle='Square Squad Reloaded'
    head
        link(rel='stylesheet', href='/assets/css/main.min.css')
        block title
            title #{pageTitle}
        block extraStyles

        link(rel='apple-touch-icon' sizes='180x180' href='/assets/images/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/assets/images/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/assets/images/favicon-16x16.png')
        link(rel='mask-icon' href='/assets/images/safari-pinned-tab.svg' color='#1e9294')
        meta(name='msapplication-TileColor' content='#1e9294')
        meta(name='theme-color' content='#1e9294')

        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Zen+Dots&display=swap' rel='stylesheet')

    block bodyClass
        - var bodyClass = ''

    body(class=bodyClass)
      div.super-wrapper
        block content

        block footer
          footer.footer
            p.text-center Version #{appVersion}
              a(href='https://discord.com/channels/834826491602403409/834827272434221146' target="_blank")
                img(src='/assets/images/discord.png' width="32px")

    script(src='/assets/js/dist/uikit/uikit.min.js')
    script(src='/assets/js/dist/uikit/uikit-icons.min.js')
    block extraScripts
