head
    title Square Squad Reloaded
    link(rel='stylesheet', href='/assets/css/dist/uikit/uikit.min.css')
    script(src='/assets/js/dist/uikit/uikit.min.js')
    script(src='/assets/js/dist/uikit/uikit-icons.min.js')