.index {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border: 10px solid color(bottle);
  background-color: color(white, null, null, .9);

  &__logo {
    max-width: 80%;
    margin: 0 auto 40px;
  }
}
