extends includes/base

block title
  title=`Oops, something bad happened - ${pageTitle}`

block content
  #particles-js.particles-js
  section.wrapper
    include includes/sqsq-logo.pug

    div.text-center
      h3 Something went wrong!
      p.error !{message}
      div.spacer
        a.btn(href="javascript:history.back()") Back

block extraScripts
  script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.js")
  script(src="/assets/js/particles.js")
