html
  include includes/header.pug
  script(src='/assets/js/dist/socket.io.js')
  body(data-roomSlug=roomSlug)
    div.uk-text-center.uk-grid
      div.uk-width-1-4
        div.uk-card.uk-card-default.uk-card-body
          h3 !{roomName}
          h4 Players
          ul#players
          h1#countdown-text
      div.uk-width-3-4
        canvas#gameCanvas(width='700' height='700')
    script(src='/assets/js/main.js')
    script(src=gameJS)