html
  include includes/header.pug
  script(src='/assets/js/dist/socket.io.js')
  body(data-roomSlug=roomSlug)
    div.uk-section
        div.uk-container.uk-container-small 
          h1.uk-heading-large.uk-text-center Square Squad
          p Hello #[a(href="/?action=edit-login" id="playerNameLabel") !{playerName} ]! your about to play
          h3 !{roomName}
          h4 Players
          ul#players
          p
            a.uk-button.uk-button-primary(href='/rooms/' + roomSlug + '/play') play
          p
            a.uk-button.uk-button-default(href='/') back
    script(src='/assets/js/main.js')
    include includes/footer.pug